<nav>
    <a mat-raised-button routerLink="/vendedor">Vendedores</a>

    <a mat-raised-button color="accent" routerLink="/vendedor/novo">Novo Vendedor</a>
</nav>   


<h5>{{ title }}</h5>

<mat-horizontal-stepper [linear]="isLinear">
<mat-step [stepControl]="firstFormGroup">
  
  <form [formGroup]="firstFormGroup" >      
  <ng-template matStepLabel>Por favor, preencha os dados do Vendedor</ng-template>
        
   
        <mat-form-field>
          <input matInput placeholder="Codigo" name="codigo" formControlName="codigo" [(ngModel)]="vendedor.codigo"
              [class.invalid]="firstFormGroup.controls['codigo'].touched && !firstFormGroup.controls['codigo'].valid" [readonly]="codigoWrite"/>
        </mat-form-field>

        <h4>Informações Pessoais</h4>

        <mat-form-field>
              <input id="nome" matInput placeholder="Nome Completo" formControlName="nome" [(ngModel)]="vendedor.nome" autofocus required/>
              
              <mat-error *ngIf="firstFormGroup.controls['nome'].touched && firstFormGroup.controls['nome'].dirty">
                Nome deve conter entre 2 e 70 caracteres
              </mat-error>
              <mat-error *ngIf="firstFormGroup.controls['nome'].invalid && firstFormGroup.controls['nome'].pristine">
                 Nome é <strong>obrigatorio</strong>
              </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="RG" formControlName="rg" [(ngModel)]="vendedor.rg"/>

          <mat-error *ngIf="firstFormGroup.controls['rg'].touched && firstFormGroup.controls['rg'].dirty">
              RG deve conter de 9 a 14 caracteres, sem pontuação.
            </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['rg'].invalid && firstFormGroup.controls['rg'].pristine">
               RG é <strong>obrigatorio</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
              <input matInput placeholder="CPF" formControlName="cpf" [(ngModel)]="vendedor.cpf"/>

              <mat-error *ngIf="firstFormGroup.controls['cpf'].touched && firstFormGroup.controls['cpf'].dirty">
                  CPF deve conter 11 caracteres, sem pontuação.
              </mat-error>
              <mat-error *ngIf="firstFormGroup.controls['cpf'].invalid && firstFormGroup.controls['cpf'].pristine">
                  CPF é <strong>obrigatorio</strong>
              </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de Nascimento"  formControlName="dataNascimento" [(ngModel)]="vendedor.dataNascimento" [matDatepicker]="dataNascimento"/>
            <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
            <mat-datepicker #dataNascimento startView="year" [startAt]="startDate" ></mat-datepicker >

            <mat-error *ngIf="firstFormGroup.controls['dataNascimento'].touched && firstFormGroup.controls['dataNascimento'].dirty && firstFormGroup.controls['dataNascimento'].invalid">
                Data invalida. EX: (28/9/1992)
            </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['dataNascimento'].invalid && firstFormGroup.controls['dataNascimento'].pristine">
                Data de nascimento é <strong>obrigatoria</strong>
            </mat-error>
      </mat-form-field>

        <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" [(ngModel)]="vendedor.email"/>

              <mat-error *ngIf="firstFormGroup.controls['email'].touched && firstFormGroup.controls['email'].dirty && firstFormGroup.controls['email'].invalid">
                    Email invalido, EX: (email@gmail.com)
              </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['email'].invalid && firstFormGroup.controls['email'].pristine">
                Email é <strong>obrigatorio</strong>
             </mat-error>

        </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Telefone" formControlName="telefone" [(ngModel)]="vendedor.telefone"/>

        <mat-error *ngIf="firstFormGroup.controls['telefone'].touched && firstFormGroup.controls['telefone'].dirty">
            Deve conter DDD Sem pontuação. <strong>EX: (1127482929)</strong>
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['telefone'].invalid && firstFormGroup.controls['telefone'].pristine">
             Telefone é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Operadora" formControlName="operadora" [(ngModel)]="vendedor.operadora">
            <mat-option *ngFor="let operadora of operadoras"  [value]="operadora">
                {{ operadora }}
            </mat-option>
        </mat-select>
        
        <mat-error *ngIf="firstFormGroup.controls['operadora'].invalid && firstFormGroup.controls['operadora'].pristine">
            Operadora é <strong>obrigatorio</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Celular" formControlName="celular" [(ngModel)]="vendedor.celular"/>

        <mat-error *ngIf="firstFormGroup.controls['celular'].touched && firstFormGroup.controls['celular'].dirty">
            Nº do Celular com DDD Sem pontuação, EX: <strong>(11953878185)</strong>
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['celular'].invalid && firstFormGroup.controls['celular'].pristine">
             Celular é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field>
            <mat-select placeholder="Operadora" formControlName="operadoraII" [(ngModel)]="vendedor.operadoraII">
                <mat-option *ngFor="let operadora of operadoras"  [value]="operadora">
                    {{ operadora }}
                </mat-option>
            </mat-select>

        <mat-error *ngIf="firstFormGroup.controls['operadoraII'].touched && firstFormGroup.controls['operadoraII'].dirty">
            Operadora deve está entre 2 a 10 caracteres.
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['operadoraII'].invalid && firstFormGroup.controls['operadoraII'].pristine">
              Operadora é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Celular-II" formControlName="celularII" [(ngModel)]="vendedor.celularII"/>

          <mat-error *ngIf="firstFormGroup.controls['celularII'].touched && firstFormGroup.controls['celularII'].dirty">
              Nº do Celular com DDD Sem pontuação, EX: <strong>(11953878185)</strong>
            </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['celularII'].invalid && firstFormGroup.controls['celularII'].pristine">
                Celular é <strong>obrigatorio</strong>
            </mat-error>
      </mat-form-field>

    <h4>Endereço</h4>

    <mat-form-field>
        <input matInput placeholder="CEP" formControlName="cep" [(ngModel)]="vendedor.cep" required
        (blur)="atualizaEnderecoViaCep(firstFormGroup.controls['cep'].value)"/>

        <mat-error *ngIf="firstFormGroup.controls['cep'].touched && firstFormGroup.controls['cep'].dirty">
            CEP deve conter entre 8 caracteres
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['cep'].invalid && firstFormGroup.controls['cep'].pristine">
            CEP é <strong>obrigatorio</strong>
        </mat-error>
    </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="Municipio" formControlName="municipio" [(ngModel)]="vendedor.municipio"required/>

        <mat-error *ngIf="firstFormGroup.controls['municipio'].touched && firstFormGroup.controls['municipio'].dirty">
            Municipio deve conter entre 3 a 30 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['municipio'].invalid && firstFormGroup.controls['municipio'].pristine">
              Municipio é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Sigla" formControlName="sigla" [(ngModel)]="vendedor.sigla"/>

        <mat-error *ngIf="firstFormGroup.controls['sigla'].touched && firstFormGroup.controls['sigla'].dirty">
            Sigla deve conter entre 2 a 5 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['sigla'].invalid && firstFormGroup.controls['sigla'].pristine">
             Sigla é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <input matInput placeholder="Bairro" formControlName="bairro" [(ngModel)]="vendedor.bairro" required/>

        <mat-error *ngIf="firstFormGroup.controls['bairro'].touched && firstFormGroup.controls['bairro'].dirty">
            Bairro deve conter entre 2 a 70 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['bairro'].invalid && firstFormGroup.controls['bairro'].pristine">
              Bairro é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>
            
      <mat-form-field>
        <input matInput placeholder="Endereco" formControlName="endereco" [(ngModel)]="vendedor.endereco" required/>

        <mat-error *ngIf="firstFormGroup.controls['endereco'].touched && firstFormGroup.controls['endereco'].dirty">
            Endereco deve conter entre 2 e 70 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['endereco'].invalid && firstFormGroup.controls['endereco'].pristine">
              Endereco é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field>
            <input matInput placeholder="Numero" formControlName="numero" [(ngModel)]="vendedor.numero"/>
      
            <mat-error *ngIf="firstFormGroup.controls['numero'].touched && firstFormGroup.controls['numero'].dirty">
                Numero deve conter entre 2 e 70 caracteres
              </mat-error>
              <mat-error *ngIf="firstFormGroup.controls['numero'].invalid && firstFormGroup.controls['numero'].pristine">
                  Numero é <strong>obrigatorio</strong>
              </mat-error>
          </mat-form-field>
    <br />
      <mat-form-field>
        <input matInput placeholder="Observacao" formControlName="observacao"  [(ngModel)]="vendedor.observacao"/>

        <mat-error *ngIf="firstFormGroup.controls['observacao'].touched && firstFormGroup.controls['observacao'].dirty">
            Observacao deve conter entre 2 e 70 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['observacao'].invalid && firstFormGroup.controls['observacao'].pristine">
            Observacao é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

    <mat-form-field>
          <input matInput placeholder="Salario" formControlName="salario"  [(ngModel)]="vendedor.salario"/>
  
          <mat-error *ngIf="firstFormGroup.controls['salario'].touched && firstFormGroup.controls['salario'].dirty">
              Salario deve conter entre 1 e 10 caracteres
            </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['salario'].invalid && firstFormGroup.controls['salario'].pristine">
                Salario é <strong>obrigatorio</strong>
            </mat-error>
    </mat-form-field>

    <h4>Balanço</h4>

      <mat-form-field>
        <input matInput placeholder="Pedido Inicial" formControlName="pedidoInicial" [(ngModel)]="vendedor.pedidoInicial"/>

        <mat-error *ngIf="firstFormGroup.controls['pedidoInicial'].touched && firstFormGroup.controls['pedidoInicial'].dirty">
            Pedido Inicial deve conter entre 1 a 10 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['pedidoInicial'].invalid && firstFormGroup.controls['pedidoInicial'].pristine">
            Pedido Inicial é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Pedido Final" formControlName="pedidoFinal" [(ngModel)]="vendedor.pedidoFinal"/>

        <mat-error *ngIf="firstFormGroup.controls['pedidoFinal'].touched && firstFormGroup.controls['pedidoFinal'].dirty">
            Pedido Final deve conter entre 1 a 10 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['pedidoFinal'].invalid && firstFormGroup.controls['pedidoFinal'].pristine">
             Pedido Final é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <input matInput placeholder="Registro Inicial" formControlName="registroInicial"  [(ngModel)]="vendedor.registroInicial"/>

        <mat-error *ngIf="firstFormGroup.controls['registroInicial'].touched && firstFormGroup.controls['registroInicial'].dirty">
            Registro Inicial deve conter entre 1 e 10 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['registroInicial'].invalid && firstFormGroup.controls['registroInicial'].pristine">
             Registro Inicial é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Registro Final" formControlName="registroFinal" [(ngModel)]="vendedor.registroFinal"/>

        <mat-error *ngIf="firstFormGroup.controls['registroFinal'].touched && firstFormGroup.controls['registroFinal'].dirty">
            Registro Final" deve conter entre 1 e 10 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['registroFinal'].invalid && firstFormGroup.controls['registroFinal'].pristine">
            Registro Final" é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>
      <hr/>
      <div>
          <button mat-raised-button color="primary" (click)="save()" [disabled]="!firstFormGroup.valid">Salvar</button>
      </div>      
  </form>
</mat-step>
</mat-horizontal-stepper>
