<nav>
  <a mat-raised-button routerLink="/cliente">Clientes</a>

  <a mat-raised-button color="accent" routerLink="/cliente/novo">Novo Cliente</a>
</nav>   

<section>
<p>
Total: {{ clientes.length}} Clientes.
</p>

<mat-form-field floatPlaceholder="never">
  <input matInput placeholder="Filtro" [(ngModel)]="busca"#filter/>
</mat-form-field>
<br />
<button mat-button color="primary" (click)="buscaPorNome()">Buscar por Nome</button>
<button mat-button color="primary" (click)="buscaPorRG()">Buscar por RG</button>
<button mat-button color="primary" (click)="buscaPorCPF()">Buscar por CPF</button>

<table>
  <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>RG</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Operadora</th>
        <th>Celular</th>
        <th>Operadora</th>
        <th>Celular</th>
        <th>Vendedor</th>
      </tr>
  </thead>

  <tbody>
    <tr class="lista" *ngFor="let cliente of clientes">
      <td>{{ cliente.codigo }}</td>
      <td><i class="material-icons">face</i>
        <a [routerLink]="['/cliente', cliente.id]">{{ cliente.nome }}</a>
      </td>
      <td><i class="material-icons">receipt</i>{{ cliente.rg }}</td>
      <td><i class="material-icons">receipt</i>{{ cliente.cpf }}</td>
      <td><i class="material-icons">phone</i>{{ cliente.telefone }}</td>
      <td><i class="material-icons">sd_storage</i>{{ cliente.operadora }}</td>
      <td><i class="material-icons">phone_iphone</i>{{ cliente.celular }}</td>
      <td><i class="material-icons">sd_storage</i>{{ cliente.operadoraII }}</td>
      <td><i class="material-icons">phone_iphone</i>{{ cliente.celularII }}</td>
      <td *ngIf="cliente.vendedor.id!=undefinied">{{ cliente.vendedor.codigo }}</td>
      <td *ngIf="cliente.vendedor.id==undefinied">{{ cliente.vendedor }}</td>
      <td>
        <a [routerLink]="['/cliente', cliente.id]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td>
        <a (click)="deleteCliente(cliente)">
          <i class="material-icons">clear</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
</section>

<section>
  
</section>