<nav>
  <a mat-raised-button routerLink="/ideal">Ideals</a>

  <a mat-raised-button color="accent" routerLink="/ideal/novo">Novo Ideal</a>
</nav>   


<h5>{{ title }}</h5>

<mat-horizontal-stepper>
<mat-step [stepControl]="firstFormGroup">

<form [formGroup]="firstFormGroup" >      
<ng-template matStepLabel>Por favor, preencha os dados do Ideal</ng-template>
       
      <mat-form-field>
        <input matInput placeholder="Codigo" name="codigo" formControlName="codigo" [(ngModel)]="ideal.codigo"
            [class.invalid]="firstFormGroup.controls['codigo'].touched && !firstFormGroup.controls['codigo'].valid"  [readonly]="codigoWrite"/>
      </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Data Lançamento" formControlName="dataLancamento" [(ngModel)]="ideal.dataLancamento" [matDatepicker]="dataLancamento" disabled readonly/>
        <mat-datepicker-toggle matSuffix [for]="dataLancamento"></mat-datepicker-toggle>
        <mat-datepicker #dataLancamento></mat-datepicker>
    </mat-form-field>

      <h4>Vendedor</h4>

        <mat-form-field>
            <input matInput placeholder="Codigo do Vendedor" name="vendedorCodigo" formControlName="vendedorCodigo" [(ngModel)]="ideal.vendedor.codigo"
                [class.invalid]="firstFormGroup.controls['vendedorCodigo'].touched && !firstFormGroup.controls['vendedorCodigo'].valid"
                (keyup)="atualizaCamposVendedor(firstFormGroup.controls['vendedorCodigo'].value)" autofocus required/>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Nome do Vendedor" class="vendedorNome" formControlName="vendedorNome" [(ngModel)]="ideal.vendedor.nome"
                [class.invalid]="firstFormGroup.controls['vendedorNome'].touched && !firstFormGroup.controls['vendedorNome'].valid" maxRows="70" readonly="true"/>
        </mat-form-field>    
        <br />
        <br />
       
    <h4>Data Para Realização Do Ideal</h4>

    <mat-form-field>
        <input matInput placeholder="Data Inicial"  formControlName="dataInicial" [(ngModel)]="ideal.dataInicial" [matDatepicker]="dataInicial" required/>
        <mat-datepicker-toggle matSuffix [for]="dataInicial"></mat-datepicker-toggle>
        <mat-datepicker #dataInicial startView="year" [startAt]="startDate" ></mat-datepicker >

        <mat-error *ngIf="firstFormGroup.controls['dataInicial'].touched && firstFormGroup.controls['dataInicial'].dirty && firstFormGroup.controls['dataInicial'].invalid">
            Data invalida. EX: (28/09/1992)
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['dataInicial'].invalid && firstFormGroup.controls['dataInicial'].pristine">
            Data de lancamento é <strong>obrigatoria</strong>
        </mat-error>
    </mat-form-field>
    

    <mat-form-field>
        <input matInput placeholder="Data Final"  formControlName="dataFinal" [(ngModel)]="ideal.dataFinal" [matDatepicker]="dataFinal" required/>
        <mat-datepicker-toggle matSuffix [for]="dataFinal"></mat-datepicker-toggle>
        <mat-datepicker #dataFinal startView="year" [startAt]="startDate" ></mat-datepicker >

        <mat-error *ngIf="firstFormGroup.controls['dataFinal'].touched && firstFormGroup.controls['dataFinal'].dirty && firstFormGroup.controls['dataFinal'].invalid">
            Data invalida. EX: (28/09/1992)
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['dataFinal'].invalid && firstFormGroup.controls['dataFinal'].pristine">
            Data Final é <strong>obrigatoria</strong>
        </mat-error>
    </mat-form-field>

    

    <hr/>
    <div>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="!firstFormGroup.valid">Salvar</button>
    </div>    
</form>
</mat-step>
</mat-horizontal-stepper>
