<hr/>
  <nav>            
      <a mat-raised-button routerLink="/vendedor">Vendedor</a>
      <a mat-raised-button routerLink="/cliente">Cliente</a>      
      <a mat-raised-button routerLink="/valorDaCesta">Valor da Cesta</a>
      <a mat-raised-button routerLink="/remonte">Remonte</a>
      <a mat-raised-button routerLink="/plano">Plano</a>
      <a mat-raised-button routerLink="/fornecedores">Fornecedores</a>
      <a mat-raised-button routerLink="/produtos">Produtos</a>
      <a mat-raised-button routerLink="/transporte">Transporte</a>
      <a mat-raised-button routerLink="/funcionario">Funcionarios</a>
      <a mat-raised-button routerLink="/ideal">Ideal</a>
      <a mat-raised-button routerLink="/movimento">Movimento</a>
  </nav>
<hr/>
<router-outlet></router-outlet>