<nav>
  <a mat-raised-button routerLink="/cliente">Clientes</a>

  <a mat-raised-button color="accent" routerLink="/cliente/novo">Novo Cliente</a>
</nav>   


<h5>{{ title }}</h5>

<mat-horizontal-stepper>
<mat-step [stepControl]="firstFormGroup">

<form [formGroup]="firstFormGroup" >      
<ng-template matStepLabel>Por favor, preencha os dados do Cliente</ng-template>
       
      <mat-form-field>
        <input matInput placeholder="Codigo" name="codigo" formControlName="codigo" [(ngModel)]="cliente.codigo"
            [class.invalid]="firstFormGroup.controls['codigo'].touched && !firstFormGroup.controls['codigo'].valid"  [readonly]="codigoWrite"/>
      </mat-form-field>

      <h4>Vendedor</h4>

        <mat-form-field>
            <input id="firstInput" matInput placeholder="Codigo do Vendedor" name="vendedorCodigo" formControlName="vendedorCodigo" [(ngModel)]="cliente.vendedor.codigo"
                [class.invalid]="firstFormGroup.controls['vendedorCodigo'].touched && !firstFormGroup.controls['vendedorCodigo'].valid"
                (keyup)="atualizaCamposVendedor(firstFormGroup.controls['vendedorCodigo'].value)" autofocus required/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome do Vendedor" class="vendedorNome" formControlName="vendedorNome" [(ngModel)]="cliente.vendedor.nome"
                [class.invalid]="firstFormGroup.controls['vendedorNome'].touched && !firstFormGroup.controls['vendedorNome'].valid" maxRows="70" readonly="true"/>
        </mat-form-field>

    <h4>Informações Pessoais</h4>

      <mat-form-field>
            <input id="nome" matInput placeholder="Nome Completo" formControlName="nome" [(ngModel)]="cliente.nome" required/>
            
            <mat-error *ngIf="firstFormGroup.controls['nome'].touched && firstFormGroup.controls['nome'].dirty">
              Nome deve conter entre 2 e 70 caracteres
            </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['nome'].invalid && firstFormGroup.controls['nome'].pristine">
               Nome é <strong>obrigatorio</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input id="nome" matInput placeholder="Nome do Cônjugue" formControlName="conjugue" [(ngModel)]="cliente.conjugue"/>
        
        <mat-error *ngIf="firstFormGroup.controls['conjugue'].touched && firstFormGroup.controls['conjugue'].dirty">
          Nome do Cônjugue deve conter entre 2 e 70 caracteres
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['conjugue'].invalid && firstFormGroup.controls['conjugue'].pristine">
           Nome do Cônjugue é <strong>obrigatorio</strong>
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <input matInput placeholder="RG" formControlName="rg" [(ngModel)]="cliente.rg"/>

        <mat-error *ngIf="firstFormGroup.controls['rg'].touched && firstFormGroup.controls['rg'].dirty">
            RG deve conter de 9 a 14 caracteres, sem pontuação.
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['rg'].invalid && firstFormGroup.controls['rg'].pristine">
             RG é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field>
            <input matInput placeholder="CPF" formControlName="cpf" [(ngModel)]="cliente.cpf"/>

            <mat-error *ngIf="firstFormGroup.controls['cpf'].touched && firstFormGroup.controls['cpf'].dirty">
                CPF deve conter 11 caracteres, sem pontuação.
            </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['cpf'].invalid && firstFormGroup.controls['cpf'].pristine">
                CPF é <strong>obrigatorio</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
            <input matInput placeholder="Data de Nascimento"  formControlName="dataNascimento" [(ngModel)]="cliente.dataNascimento" [matDatepicker]="dataNascimento"/>
            <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
            <mat-datepicker #dataNascimento startView="year" [startAt]="startDate" ></mat-datepicker >

            <mat-error *ngIf="firstFormGroup.controls['dataNascimento'].touched && firstFormGroup.controls['dataNascimento'].dirty && firstFormGroup.controls['dataNascimento'].invalid">
                Data invalida. EX: (28/9/1992)
            </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['dataNascimento'].invalid && firstFormGroup.controls['dataNascimento'].pristine">
                Data de nascimento é <strong>obrigatoria</strong>
            </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" [(ngModel)]="cliente.email"/>

            <mat-error *ngIf="firstFormGroup.controls['email'].touched && firstFormGroup.controls['email'].dirty && firstFormGroup.controls['email'].invalid">
                  Email invalido, EX: (email@gmail.com)
            </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['email'].invalid && firstFormGroup.controls['email'].pristine">
                Email é <strong>obrigatorio</strong>
            </mat-error>

      </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Telefone" formControlName="telefone" [(ngModel)]="cliente.telefone"/>

      <mat-error *ngIf="firstFormGroup.controls['telefone'].touched && firstFormGroup.controls['telefone'].dirty">
          Deve conter DDD Sem pontuação. <strong>EX: (1127482929)</strong>
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['telefone'].invalid && firstFormGroup.controls['telefone'].pristine">
           Telefone é <strong>obrigatorio</strong>
        </mat-error>
    </mat-form-field>

    <br />
    <mat-form-field>
        <mat-select placeholder="Operadora" formControlName="operadora" [(ngModel)]="cliente.operadora">
            <mat-option *ngFor="let operadora of operadoras"  [value]="operadora">
                {{ operadora }}
            </mat-option>
        </mat-select>
        
        <mat-error *ngIf="firstFormGroup.controls['operadora'].invalid && firstFormGroup.controls['operadora'].pristine">
            Operadora é <strong>obrigatorio</strong>
        </mat-error>
      </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Celular" formControlName="celular" [(ngModel)]="cliente.celular"/>

      <mat-error *ngIf="firstFormGroup.controls['celular'].touched && firstFormGroup.controls['celular'].dirty">
          Nº do Celular com DDD Sem pontuação, EX: <strong>(11953878185)</strong>
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['celular'].invalid && firstFormGroup.controls['celular'].pristine">
           Celular é <strong>obrigatorio</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Operadora" formControlName="operadoraII" [(ngModel)]="cliente.operadoraII">
            <mat-option *ngFor="let operadora of operadoras"  [value]="operadora">
                {{ operadora }}
            </mat-option>
        </mat-select>

    <mat-error *ngIf="firstFormGroup.controls['operadoraII'].touched && firstFormGroup.controls['operadoraII'].dirty">
        Operadora deve está entre 2 a 10 caracteres.
      </mat-error>
      <mat-error *ngIf="firstFormGroup.controls['operadoraII'].invalid && firstFormGroup.controls['operadoraII'].pristine">
          Operadora é <strong>obrigatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Celular-II" formControlName="celularII" [(ngModel)]="cliente.celularII"/>

        <mat-error *ngIf="firstFormGroup.controls['celularII'].touched && firstFormGroup.controls['celularII'].dirty">
            Nº do Celular com DDD Sem pontuação, EX: <strong>(11953878185)</strong>
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['celularII'].invalid && firstFormGroup.controls['celularII'].pristine">
              Celular é <strong>obrigatorio</strong>
          </mat-error>
    </mat-form-field>

  <h4>Endereço</h4>

    <mat-form-field>
        <input matInput placeholder="CEP" formControlName="cep" [(ngModel)]="cliente.cep" required
        (blur)="atualizaEnderecoViaCep(firstFormGroup.controls['cep'].value)"/>
        
        <mat-error *ngIf="firstFormGroup.controls['cep'].touched && firstFormGroup.controls['cep'].dirty">
            CEP deve conter entre 8 caracteres
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['cep'].invalid && firstFormGroup.controls['cep'].pristine">
            CEP é <strong>obrigatorio</strong>
        </mat-error>    
    </mat-form-field>    

    <mat-form-field>
      <input matInput placeholder="Municipio" formControlName="municipio" [(ngModel)]="cliente.municipio"required/>

      <mat-error *ngIf="firstFormGroup.controls['municipio'].touched && firstFormGroup.controls['municipio'].dirty">
          Municipio deve conter entre 3 a 30 caracteres
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['municipio'].invalid && firstFormGroup.controls['municipio'].pristine">
            Municipio é <strong>obrigatorio</strong>
        </mat-error>
    </mat-form-field>

    <br />
    <mat-form-field>
      <input matInput placeholder="Sigla" formControlName="sigla" [(ngModel)]="cliente.sigla" required/>

      <mat-error *ngIf="firstFormGroup.controls['sigla'].touched && firstFormGroup.controls['sigla'].dirty">
          Sigla deve conter entre 2 a 5 caracteres
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['sigla'].invalid && firstFormGroup.controls['sigla'].pristine">
           Sigla é <strong>obrigatorio</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Bairro" formControlName="bairro" [(ngModel)]="cliente.bairro" required/>

      <mat-error *ngIf="firstFormGroup.controls['bairro'].touched && firstFormGroup.controls['bairro'].dirty">
          Bairro deve conter entre 2 a 70 caracteres
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['bairro'].invalid && firstFormGroup.controls['bairro'].pristine">
            Bairro é <strong>obrigatorio</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Endereco" formControlName="endereco" [(ngModel)]="cliente.endereco" required/>

      <mat-error *ngIf="firstFormGroup.controls['endereco'].touched && firstFormGroup.controls['endereco'].dirty">
          Endereco deve conter entre 2 e 70 caracteres
        </mat-error>
        <mat-error *ngIf="firstFormGroup.controls['endereco'].invalid && firstFormGroup.controls['endereco'].pristine">
            Endereco é <strong>obrigatorio</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Numero" formControlName="numero" [(ngModel)]="cliente.numero" />
  
        <mat-error *ngIf="firstFormGroup.controls['numero'].touched && firstFormGroup.controls['numero'].dirty">
            Numero deve conter entre 2 e 70 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['numero'].invalid && firstFormGroup.controls['numero'].pristine">
              Numero é <strong>obrigatorio</strong>
          </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Referencia do local" formControlName="referencia"  [(ngModel)]="cliente.referencia"/>
  
        <mat-error *ngIf="firstFormGroup.controls['referencia'].touched && firstFormGroup.controls['referencia'].dirty">
            Referencia deve conter entre 2 e 70 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['referencia'].invalid && firstFormGroup.controls['referencia'].pristine">
            Referencia é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>


    <mat-form-field>
        <input matInput placeholder="Observacao" formControlName="observacao"  [(ngModel)]="cliente.observacao"/>
  
        <mat-error *ngIf="firstFormGroup.controls['observacao'].touched && firstFormGroup.controls['observacao'].dirty">
            Observacao deve conter entre 2 e 70 caracteres
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['observacao'].invalid && firstFormGroup.controls['observacao'].pristine">
            Observacao é <strong>obrigatorio</strong>
          </mat-error>
      </mat-form-field>
    
    <h4>Status</h4>
    <mat-form-field>
            <input matInput placeholder="Data De Cadastro" formControlName="dataCadastro" [(ngModel)]="cliente.dataCadastro" [matDatepicker]="dataCadastro" disabled readonly/>
            <mat-datepicker-toggle matSuffix [for]="dataCadastro"></mat-datepicker-toggle>
            <mat-datepicker #dataCadastro></mat-datepicker>
        </mat-form-field>
    <hr/>
    <div>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="!firstFormGroup.valid">Salvar</button>
    </div>    
</form>
</mat-step>
</mat-horizontal-stepper>
