<nav>
  <a mat-raised-button routerLink="/movimento">Movimentos</a>

  <a mat-raised-button color="accent" routerLink="/movimento/novo">Novo Movimento</a>
</nav>   

<section>
<p>
Total: {{ movimentos.length}} Movimentos.
</p>


<mat-form-field floatPlaceholder="never">
  <input matInput placeholder="Codigo Do Vendedor" [(ngModel)]="movimento.vendedor.codigo" autofocus />
</mat-form-field>

<mat-form-field floatPlaceholder="never">
  <input matInput placeholder="Codigo Do Cliente" [(ngModel)]="movimento.cliente.codigo"/>
</mat-form-field>

<button mat-button color="primary" (click)="buscaMovimentos()">Buscar Movimentos</button>

<br />
<hr />
<mat-form-field floatPlaceholder="never">
<input matInput placeholder="Insira os dados para realizar busca..." [(ngModel)]="busca" #filter/>
</mat-form-field>
<br />

<button mat-button color="primary" (click)="buscaPorNumeroRecibo()">Buscar por Numero Recibo</button>
<button mat-button color="primary" (click)="buscaPorNumeroPedido()">Buscar por Numero Pedido</button>

<h4>Saldo Devedor Total: {{saldo}}</h4>
<table>
  <thead>
      <tr>

          <th>Código</th>
          <th>Vendedor</th>
          <th>Cliente</th>
          <th>Nº Recibo</th>
          <th>Nº Pedido</th>
          <th>Valor Da Compra</th>
          <th>Valor Recebido</th>
          <th>Observação</th>
          <th>Saldo Devedor</th>
          <th>1º Data De Pagamento</th>
          <th>2º Data De Pagamento</th>
          <th>Data De Cadastro</th>
          <th>Saldo</th>
      </tr>
  </thead>

  <tbody>    
    <tr class="lista" *ngFor="let movimento of movimentos">      
      <td><i class="material-icons">account_box</i>
        <a [routerLink]="['/movimento', movimento.id]">{{ movimento.codigo }}</a>
      </td>

      <td><i class="material-icons">account_box</i>{{ movimento.vendedor.nome }}</td>
      <td><i class="material-icons">account_box</i>{{ movimento.cliente.nome }}</td>
      <td><i class="material-icons">phone</i>          {{ movimento.numeroRecibo }}      </td>
      <td><i class="material-icons">sd_storage</i>     {{ movimento.numeroPedido }}     </td>
      <td><i class="material-icons">phone_iphone</i>   {{ movimento.dataCadastro }}       </td>
      <td><i class="material-icons">sd_storage</i>     {{ movimento.valorCompra }}   </td>
      <td><i class="material-icons">phone_iphone</i>   {{ movimento.valorRecebido }}     </td>
      <td><i class="material-icons">phone_iphone</i>   {{ movimento.observacao }}     </td>
      <td><i class="material-icons">phone_iphone</i>   {{ movimento.dataPagamento }}     </td>
      <td><i class="material-icons">phone_iphone</i>   {{ movimento.dataPagamentoII }}     </td>
      <td><i class="material-icons">phone_iphone</i>   {{ movimento.dataCadastro }}     </td>
      <td><i class="material-icons">attach_money</i>   {{ movimento.valorCompra - movimento.valorRecebido }}     </td>
      <td>
          <a [routerLink]="['/movimento', movimento.id]">
            <i class="material-icons">mode_edit</i>
          </a>
        </td>
        <td>
          <a (click)="deleteMovimento(movimento)">
            <i class="material-icons">clear</i>
          </a>
        </td>
    </tr>
  </tbody>
</table>
</section>