<nav>
    <a mat-raised-button routerLink="/vendedor">Vendedores</a>

    <a mat-raised-button color="accent" routerLink="/vendedor/novo">Novo Vendedor</a>
</nav>   

<section>
<p>
  Total: {{ vendedores.length}} Vendedores.
</p>



<mat-form-field floatPlaceholder="never">
  <input matInput placeholder="Filtro" [(ngModel)]="busca" tabindex="1" #filter/>
</mat-form-field>
<br />

<button mat-button color="primary" (click)="buscaPorNome()" tabindex="2">Buscar por Nome</button>
<button mat-button color="primary" (click)="buscaPorRG()" tabindex="3">Buscar por RG</button>
<button mat-button color="primary" (click)="buscaPorCPF()" tabindex="4">Buscar por CPF</button>

<table>
    <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>RG</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Operadora</th>
          <th>Celular</th>
          <th>Operadora</th>
          <th>Celular</th>          
        </tr>
    </thead>
  
    <tbody>    
      <tr class="lista" *ngFor="let vendedor of vendedores">
        <td>{{ vendedor.codigo }}</td>
        <td><i class="material-icons">face</i>
          <a [routerLink]="['/vendedor', vendedor.id]">{{ vendedor.nome }}</a>
        </td>
        <td><i class="material-icons">receipt</i>   {{ vendedor.rg }}            </td>
        <td><i class="material-icons">receipt</i>    {{ vendedor.cpf }}           </td>
        <td><i class="material-icons">phone</i>          {{ vendedor.telefone }}      </td>
        <td><i class="material-icons">sd_storage</i>     {{ vendedor.operadora }}     </td>
        <td><i class="material-icons">phone_iphone</i>   {{ vendedor.celular }}       </td>
        <td><i class="material-icons">sd_storage</i>     {{ vendedor.operadoraII }}   </td>
        <td><i class="material-icons">phone_iphone</i>   {{ vendedor.celularII }}     </td>
        <td>
          <a [routerLink]="['/vendedor', vendedor.id]">
            <i class="material-icons">mode_edit</i>
          </a>
        </td>
        <td>
          <a (click)="deleteVendedor(vendedor)">
            <i class="material-icons">clear</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>